<!DOCTYPE html>
{% load bootstrap3 %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>

    <div class="container-fluid mt-5 pt-5">
      <div class="row justify-content-around">
        <div class="col-10 text-center">
          <h1>Contact Form</h1>
        </div>
      </div>
    </div>

    <div class="container-fluid mt-5 pt-5">
      <div class="row justify-content-around">
        <div class="col-11 col-md-5">
            <form method="POST">
              {% csrf_token %}
              {% bootstrap_form form %}
              <button type="submit">Send Message</button>
            </form>
        </div>
      </div>
    </div>

  </body>

</html>
